@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 90%;
}
#map {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: row;
}